.createPostCard{
/* border: 1px solid lightgrey; */
width: 100%;
border-radius: 5px;
padding: 20px;
height: 100vh;
}

.input-box {
    width: 100%;
}

.icon{
    font-size: 40px;
}

.image-upload{
    height: 300px;
    
}
.withBackground {
    background-color: #d3d3d34a;
}

.image-upload img {
    height: 300px;
    width: 100%;
}

.image-upload video  {
    height: 300px;
    width: 100%;
}

.text-area{
    height: 100px;
}

.post-height{
    padding: 10px;
    height: 550px;
}